.hero-container {
  min-height: 100vh;
}

.hero {
  padding: 0 var(--padding);
  padding-bottom: 96px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__left {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  text-align: center;
}

.hero__heading-background {
  background-image: linear-gradient(to right, #c785d2af, #a66fc0bb, #855aaeb0, #65479d, #40358b);
  width: fit-content;
  padding: 9.6px 24px 0 24px;
  border-radius: 2px;
  border: .0625rem solid gray;
  margin-bottom: 32px;
}

.typed-container {
  height: 6.25rem;
}

#typed {
  font-size: 48px;
  font-family: 'QuirkyRobot', sans-serif;
}

#typed span {
  font-weight: bold;
  font-family: 'QuirkyRobot', sans-serif;
}


#typed .hero__fullstack {
  color: var(--primary-color);
}

#typed .hero__frontend {
  color: var(--secondary-color);
}

#typed .hero__backend {
  color: var(--tertiary-color);
}

#typed .hero__next {
  color: var(--fourth-color);
}

.typed-cursor {
  font-size: 28.8px;
  font-family: 'QuirkyRobot', sans-serif;
}

.hero__left {
  z-index: 5;

}

.hero__paragraph {
  margin: 16px 0 32px 0;
  max-width: 26.875rem;
  padding: 0 1.5rem;
}

.hero__contact-btn {
  text-decoration: none;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero__right {
  flex: 1;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__astronaut {
  padding: 64px 0;
  max-width: 21.875rem;
  animation: zoomIn 1s ease-in-out forwards, updown 2s linear 1s infinite alternate;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

@keyframes zoomIn {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes updown {
  0% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(2.5rem);
  }
}


@media screen and (min-width: 55rem) {

  .hero-container {
    padding-top: 144px;
    background-attachment: fixed;

  }

  .hero {
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
    
  }

  .hero__left {
    min-width: 28.75rem;
    text-align: left;
    align-items: flex-start;
  }

  .hero__paragraph {
    margin-top: 0;
    text-shadow: 1px 1px 20px rgb(0 0 0);
    padding: 0;
  }

  .hero__astronaut {
    max-width: 80%;
  }
}

@media screen and (min-width: 75rem) {

  .hero-container {
    padding-top: 80px;
  }

  .hero {
    padding: 0 !important;
  }

}