.landing {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.landing::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: linear-gradient(to top, #02061E, transparent)
}

.background, .foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background {
  z-index: -100;
  filter: brightness(25%) !important;
}

.foreground {
  filter: brightness(65%) !important;

}

