/* ------ Navigation ------ */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
  max-width: 100vw;
}

.nav__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .625rem;
  height: 3.75rem;
}

.active-link {
  font-weight: bold;
  color: white !important;
  text-decoration: underline !important;
}

.nav__img {
  height: 1.875rem;
  width: 1.875rem;
}

.nav__hamburger-icon,
.nav__hamburger-close {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.nav__hamburger-close.fa-solid.fa-xmark {
  display: none;
}

.nav__desktop {
  display: none;
}


/* ------ SIDEBAR ------- */
.sidebar-mobile {
  position: fixed;
  top: 3.75rem;
  right: 0;
  height: 100vh;
  width: 60%;
  z-index: 10;
  background-color: var(--main-background);
  color: rgb(184, 184, 184);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

.sidebar-mobile__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar-mobile__item {
  color: var(--primary-text);
  font-size: 19.2px;
  text-align: left;
  width: 100%;
  display: block;
  padding: 24px 0;
  text-decoration: none;
  display: grid;
  grid-template-columns: 4.6875rem 1fr;
}

.sidebar-mobile__item:hover {
  background-color: #1a0e24;
  color: white;
}

.sidebar-mobile__item i {
  padding-left: 24px;
}


.show-sidebar {
  transform: translateX(0);
}



@media screen and (min-width: 55rem) {
  .nav__mobile {
    display: none;
  }

  .nav__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
  }

  .nav__desktop-links a,
  .nav__desktop-socials a {
    text-decoration: none;
    color: rgb(184, 184, 184);
  }

  .nav__desktop-links a:hover,
  .nav__desktop-socials a:hover {
    color: white;
  }

  .nav__logo {
    padding: 10px 0;
  }

  .nav__desktop-links {
    display: flex;
    gap: 64px;
    align-items: center;
    font-size: 19.2px;
  }

  .nav__desktop-links a {
    display: flex;
    align-items: baseline;
    gap: .3125rem;
  }

  .active-link {
    border-bottom: .0625rem solid rgb(184, 184, 184);
    text-decoration: none !important;
  }

  .nav__desktop-socials {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 24px;
  }
}