.container-skills {
  background: -webkit-linear-gradient(to bottom, rgb(3, 4, 13), #080E2D);
  background: linear-gradient(to bottom, rgb(3, 4, 13), #080E2D);
}


.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5rem var(--padding);
  position: relative;
}

.skill {
  flex: 1;
}

.skills__heading2 {
  position: absolute;
  top: 3rem;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  width: 100%;
  margin-bottom: 10rem;
  text-align: center;
}

.all-skills__skill {
  border-radius: 5px;
  flex: 1;
}

.all-skills__header {}

.all-skills__icons {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.all-skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3125rem;
}

.all-skills__icon {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html5 {
  background-color: rgb(228, 77, 38, 0.2);
}

.css {
  background-color: rgb(21, 114, 182, 0.2);
}

.js {
  background-color: rgb(247, 223, 30, 0.2);
}

.ts {
  background-color: rgb(22, 119, 199, 0.2);
}

.react {
  background-color: rgb(85, 195, 226, 0.2);
}

.node {
  background-color: rgb(85, 195, 226, 0.2);
}

.express {
  background-color: rgba(248, 248, 248, 0.7);
}

.mysql {
  background-color: rgb(44,117,149, 0.2);
}

.mongodb {
  background-color: rgb(79,170,65, 0.2);
}

.graphql {
  background-color: rgb(223,52,166, 0.2);
}

.api {
  background-color: rgb(87,164,255, 0.2);
}

.auth {
  background-color: rgb(0,169,18, 0.2);
}

.socket {
  background-color: rgba(95, 95, 95, 0.2);
}

.firebase {
  background-color: rgb(255,202,40, 0.2);
}

.git {
  background-color: rgb(222,76,54, 0.2);
}

.github {
  background-color: rgba(248, 248, 248, 0.7);
}

.jest {
  background-color: rgb(153,65,91, 0.2);
}

.postman {
  background-color: rgb(243,105,51, 0.2);
}

.aws {
  background-color: rgb(255,153,0, 0.4);
}

.heroku {
  background-color: rgb(103,98,166, 0.2);
}

.netlify {
  background-color: rgb(66,181,187, 0.2);
}

.photoshop {
  background-color: rgb(49,168,255, 0.2);
}

.python {
  background-color: rgb(55,115,165, 0.2);
}

.shopify {
  background-color: rgb(149,191,70, 0.2);
}



.all-skills__icon img {
  width: 40px;
  height: 40px;
}

.skills-circle-wrap {
  width: 280px;
  height: 280px;
  position: relative;
  margin: 10px auto;
  pointer-events: fill;
}

.skills-top-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 50px #FFEB00;
}

.skills-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  transition: 3s all;
}

.skill-orbit {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 3s all;
  transform: perspective(900px);
}

.skill-orbit:nth-child(1) {
  width: 100%;
  height: 100%;
}

.skill-orbit:nth-child(2) {
  width: 82.5%;
  height: 82.5%;
}

.skill-orbit:nth-child(3) {
  width: 65%;
  height: 65%;
}

.skill-orbit:nth-child(4) {
  width: 47.5%;
  height: 47.5%;
}

.skill-orbit:nth-child(5) {
  width: 30%;
  height: 30%;
}

.skill-planet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: Arial;
  font-weight: 100;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: 1s all;
}


.skill-orbit:nth-child(1) .skill-planet {
  -webkit-animation: travelOrbit 12s infinite linear;
  animation: travelOrbit 12s infinite linear;
  -webkit-transform-origin: 50% 525%;
  transform-origin: 50% 525%;
}

.skill-orbit:nth-child(2) .skill-planet {
  -webkit-animation: travelOrbit 10s infinite linear;
  animation: travelOrbit 10s infinite linear;
  -webkit-transform-origin: 50% 420%;
  transform-origin: 50% 420%;
}


.skill-orbit:nth-child(3) .skill-planet {
  -webkit-animation: travelOrbit 8s infinite linear;
  animation: travelOrbit 8s infinite linear;
  -webkit-transform-origin: 50% 350%;
  transform-origin: 50% 350%;
}



.skill-orbit:nth-child(4) .skill-planet {
  -webkit-animation: travelOrbit 6s infinite linear;
  animation: travelOrbit 6s infinite linear;
  -webkit-transform-origin: 50% 270%;
  transform-origin: 50% 270%;
}

.skill-orbit:nth-child(5) .skill-planet {
  -webkit-animation: travelOrbit 4s infinite linear;
  animation: travelOrbit 4s infinite linear;
  -webkit-transform-origin: 50% 200%;
  transform-origin: 50% 200%;
}

@-webkit-keyframes travelOrbit {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes travelOrbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.skills__icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}


/* Skills-bar */
@keyframes grow-90 {
  from {
    right: 100%;
  }

  to {
    right: 10%;
  }
}



@keyframes grow-75 {
  from {
    right: 100%;
  }

  to {
    right: 25%;
  }
}


@keyframes grow-50 {
  from {
    right: 100%;
  }

  to {
    right: 50%;
  }
}


#skills__bar {
  margin: 6.25rem auto 0 auto;
  position: relative;
  width: 98%;
}

#apps {
  float: left;
  text-align: right;
  width: 19%;
  margin-right: 10px;
}

#apps p {
  padding: 10.5px 0;
  /* padding-right: 10px; */
  position: relative;
  text-align: right;
  z-index: 2;
  font-size: .875rem;
  line-height: normal;
}

#scale {
  padding-bottom: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
}

#scale p {
  position: absolute;
  bottom: 0;
  left: -0.3%;
}

#scale p.one {
  left: 24%;
}

#scale p.two {
  left: 49%;
}

#scale p.three {
  left: 74%;
}

#scale p.four {
  left: 99%;
}

.grid {
  border-left: 1px dotted #e8ab6a;
  border-bottom: 1px dotted #e8ab6a;
  float: left;
  padding: 10px 0;
  position: relative;
  width: 60%;
}

.bar {
  float: left;
  height: 15px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.bar .inner {
  background-color: #feac40;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
}

.bar.pct-90 .inner {
  animation-duration: 2s;
  animation-name: grow-90;
  right: 10%;
}

.bar.pct-75 .inner {
  animation-duration: 3s;
  animation-name: grow-75;
  right: 25%;
}

.bar.pct-50 .inner {
  animation-duration: 5s;
  animation-name: grow-50;
  right: 50%;
}

.v-divider {
  border-right: 1px dotted #f0c89d;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one {
  right: 75%;
}

.v-divider.two {
  right: 50%;
}


@media screen and (min-width: 37.5rem) {
  .skills-circle-wrap {
    width: 400px;
    height: 400px;
  }

  .skill-orbit:nth-child(1) .skill-planet {
    -webkit-transform-origin: 50% 720%;
    transform-origin: 50% 720%;
  }

  .skill-orbit:nth-child(2) .skill-planet {
    -webkit-transform-origin: 50% 590%;
    transform-origin: 50% 590%;
  }


  .skill-orbit:nth-child(3) .skill-planet {
    -webkit-transform-origin: 50% 480%;
    transform-origin: 50% 480%;
  }


  .skill-orbit:nth-child(4) .skill-planet {
    -webkit-transform-origin: 50% 370%;
    transform-origin: 50% 370%;
  }

  .skill-orbit:nth-child(5) .skill-planet {
    -webkit-transform-origin: 50% 240%;
    transform-origin: 50% 240%;
  }

}

@media screen and (max-width: 760px) {
  .all-skills {
    flex-direction: column;
  }
}

@media screen and (min-width: 55rem) {
  .skills-circle-wrap {
    width: 600px;
    height: 600px;
  }

  .skills-top-circle {
    width: 70px;
    height: 70px;
  }

  .skill-orbit:nth-child(1) .skill-planet {
    -webkit-transform-origin: 50% 1050%;
    transform-origin: 50% 1050%;
  }

  .skill-orbit:nth-child(2) .skill-planet {
    -webkit-transform-origin: 50% 880%;
    transform-origin: 50% 880%;
  }


  .skill-orbit:nth-child(3) .skill-planet {
    -webkit-transform-origin: 50% 710%;
    transform-origin: 50% 710%;
  }


  .skill-orbit:nth-child(4) .skill-planet {
    -webkit-transform-origin: 50% 530%;
    transform-origin: 50% 530%;
  }

  .skill-orbit:nth-child(5) .skill-planet {
    -webkit-transform-origin: 50% 340%;
    transform-origin: 50% 340%;
  }

}