.container-skills {
  background: -webkit-linear-gradient(to bottom, rgb(3, 4, 13), #080E2D);
  background: linear-gradient(to bottom, rgb(3, 4, 13), #080E2D);
}


.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5rem var(--padding);
  padding-bottom: 0;
  position: relative;
  overflow-x: hidden;
}

.skill {
  flex: 1;
}

.skills__heading2 {
  position: absolute;
  top: 3rem;
}

.all-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  width: 100%;
  margin-bottom: 10rem;
  text-align: center;
}

.all-skills__skill {
  border-radius: 5px;
  flex: 1;
}

.all-skills__icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.all-skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3125rem;
}

.all-skills__icon {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-skills__icon img {
  width: 40px;
  height: 40px;
}

.all-skills__icons--small .all-skills__icon {
  height: 35px;
  width: 35px;
}

.all-skills__icons--small .all-skills__icon img {
  width: 17.5px;
  height: 17.5px;
}

.all-skills__icons--small {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.all-skills__icons--small p {
  font-size: .875rem;
}

.html5 {
  background-color: rgb(228, 77, 38, 0.2);
}

.css {
  background-color: rgb(21, 114, 182, 0.2);
}

.js {
  background-color: rgb(247, 223, 30, 0.2);
}

.ts {
  background-color: rgb(22, 119, 199, 0.2);
}

.react {
  background-color: rgb(85, 195, 226, 0.2);
}

.tailwind {
  background-color: rgb(68,168,179, 0.2);
}

.sass {
  background-color: rgb(207,100,154, 0.2);
}

.styled-components {
  background-color: rgb(255,204,128, 0.2);
}

.react-query {
  background-color: rgb(255,217,76, 0.2);
}

.node {
  background-color: rgb(85, 195, 226, 0.2);
}

.express {
  background-color: rgba(248, 248, 248, 0.7);
}

.mysql {
  background-color: rgb(44,117,149, 0.2);
}

.mongodb {
  background-color: rgb(79,170,65, 0.2);
}

.graphql {
  background-color: rgb(223,52,166, 0.2);
}

.api {
  background-color: rgb(87,164,255, 0.2);
}

.prisma {
  background-color: rgb(210,210,210, 0.2);
}

.auth {
  background-color: rgb(0,169,18, 0.2);
}

.socket {
  background-color: rgba(95, 95, 95, 0.2);
}

.firebase {
  background-color: rgb(255,202,40, 0.2);
}

.git {
  background-color: rgb(222,76,54, 0.2);
}

.github {
  background-color: rgba(248, 248, 248, 0.7);
}

.vite {
  background-color: rgb(135,120,255, 0.2);
}

.jest {
  background-color: rgb(153,65,91, 0.2);
}

.postman {
  background-color: rgb(243,105,51, 0.2);
}

.aws {
  background-color: rgb(255,153,0, 0.4);
}

.heroku {
  background-color: rgb(103,98,166, 0.2);
}

.netlify {
  background-color: rgb(66,181,187, 0.2);
}

.photoshop {
  background-color: rgb(49,168,255, 0.2);
}

.python {
  background-color: rgb(55,115,165, 0.2);
}

.shopify {
  background-color: rgb(149,191,70, 0.2);
}

.drive {
  background-color: rgb(0,172,71, 0.2);
}



@media screen and (max-width: 760px) {
  .all-skills {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
